<div class="container-fluid" style="background-image: url(./assets/images/main_background_den.png);">
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-6 bg-info">
          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
              Dropdown button
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Link 1</a></li>
              <li><a class="dropdown-item" href="#">Link 2</a></li>
              <li><a class="dropdown-item" href="#">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-8 col-sm-8 col-xs-6 bg-danger">
            
        </div>
    </div>
</div>