.container-fluid {

  /* height: 70px; */
  font-family: Fester_Bold;
  font-size: 20px;
  /* line-height: 50px; */
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}
.logo_icon img{
  width: 250px;
  object-fit: contain;
  display: block;
}
.navbar {
  margin-top: 70px;
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px;
  height: 35px
}
.dropdown-menu{
  background-color: rgba(0, 0, 0, 0.4) !important;
  
}
.dropdown-item{
  color: white
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #1e2125;
  background-color: #e9ecef;
  transform: scale(1.02);
  box-shadow: 2px 2px 15px #5f1bffe5;
}
.navbar li{
  list-style: none
}
.navbar>li:hover{
  transform: scale(1.02);
  color: red !important;
  box-shadow: 2px 2px 15px rgba(95, 27, 255, 0.4);

}
.navbar>li{
  height: 35px;
  
 
}
.navbar>li>a{
  line-height: 40px;
  vertical-align: middle;
  margin-top: -9px;
}



