<div class="container-fluid">

    <div class="row">
        <div class="logo_icon col-3">
            <img src="../assets/images/logo/logo.png" alt="Logo Error">
        </div>
        <ul class="navbar navbar-expand-sm justify-content-center col-6">
            <li class="nav-item">
                <a routerLink="/trangchu" routerLinkActive="active" class="nav-link text-light" href="#">Trang chủ</a>
            </li>
            <li class="nav-item dropdown ">
                <a routerLink="/tourdulich" routerLinkActive="active" class="nav-link text-light" href="#" role="button" data-bs-toggle="dropdown">Tour du lịch</a>
                <ul class="dropdown-menu text-light">
                    <li><a class="dropdown-item" href="#">Tour trong nước</a></li>
                    <li><a class="dropdown-item" href="#">Tour ngoài ngước</a></li>

                </ul>
            </li>

            <li class="nav-item">
                <a routerLink="/khuyenmai" routerLinkActive="active" class="nav-link text-light" href="#">Khuyến mãi</a>
            </li>

            <li class="nav-item">
                <a routerLink="/tintuc" routerLinkActive="active" class="nav-link text-light" href="#">Tin Tức</a>
            </li>

            <li class="nav-item">
                <a routerLink="/lienhe" routerLinkActive="active" class="nav-link text-light" href="#">Liên hệ</a>
            </li>
        </ul>
        <div class=" logo_3 col-3">
            <div class="row align-left">
                <div class="search col-4">
                    <input type="search" class="col-8 searchInput">
                    <button class="searchButton" >
                        <i class="bi bi-search col-4"></i>
                    </button>
                </div>
                <div class="col-4">
                    <button (mouseenter)="changeHeart()" (mouseleave)="changeHeart()">
                        <i class="bi {{heart}}"></i>
                    </button>
                </div>
                <div class="col-4">
                    <button (click)="changeHidden()" (mouseenter)="changePerson()" (mouseleave)="changePerson()">
                        <i class="bi {{person}}"></i>
                    </button>

                    <div (mouseleave)="changeHidden()" class="drop-person {{hidden}}">
                        <div class="login">
                            <span class="">Đăng Nhập</span>
                            <i class=" bi bi-box-arrow-in-left"></i>
                        </div>
                        <div class="reg">
                            <a  routerLink="/dangky" routerLinkActive="active" class="" >Đăng ký</a>
                            <i class=" bi bi-person-plus-fill"></i>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>