<div class="container-fluid">

    <div class="row">
        <div class="logo_icon col-3">
            <img src="../assets/images/logo/logo.png" alt="Logo Error">
        </div>
        <ul class="navbar navbar-expand-sm justify-content-center col-6">
            <li class="nav-item">
                <a class="nav-link text-light" href="#">Trang chủ</a>
            </li>
            <li class="nav-item dropdown ">
                <a class="nav-link text-light" href="#" role="button" data-bs-toggle="dropdown">Tour du lịch</a>
                <ul class="dropdown-menu text-light">
                    <li><a class="dropdown-item" href="#">Tour trong nước</a></li>
                    <li><a class="dropdown-item" href="#">Tour ngoài ngước</a></li>

                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light" href="#">Khuyến mãi</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light" href="#">Tin Tức</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light" href="#">Liên hệ</a>
            </li>
        </ul>
        <div class=" logo_3 col-3">
            <div class="row align-left">
                <div class="search col-4">
                    <input type="search" data-mdb-toggle="animation" data-mdb-animation-reset="true"
                        data-mdb-animation="slide-out-right" class="col-8 ">
                    <i class="bi bi-search col-4"></i>
                </div>
                <i class="bi bi-heart col-4"></i>
                <i class="bi bi-person col-4"></i>
            </div>
        </div>
    </div>
</div>