<div class="conatiner-fluid frame">
    <div class="text-center ">
        <img src="./assets/images/logo/logo.png" alt="logo">
    </div>
    <h4 class="text-center">Đăng nhập</h4>
    <div style="margin-left:10%">
        <p>Tài khoản <span class="redstar">*</span></p>
        <input type="text" id="taikhoan" placeholder="nva406c@st.uel.edu.vn">
    </div>
    <div style="margin-left:10%">
        <p>Mật khẩu <span class=" redstar ">*</span></p>
        <input type="text " id="matkhau" placeholder="**">
    </div>
    <div class="row">
        <div class="col "></div>
        <p class="col text-primary" style="margin-left: 15%">Quên mật khẩu</p>
    </div>
    <div class="text-center">
        <button class="bg-primary text-white ">Đăng nhập</button>
    </div>

    <p class="text-center text-primary">Tạo tài khoản mới</p>

    <p class="text-center text-muted">Hoặc</p>
    <div class="dn-logo ft-left">
        <input type="button " value=" " id="gg_link-icon " style="background-image: url(./assets/images/ICON/GG.png); ">
        <input type="button " value=" " id="fb_link-icon " style="background-image: url(./assets/images/ICON/FB.png); ">
        <input type="button " value=" " id="tw_link-icon " style="background-image: url(./assets/images/ICON/TW.png); ">
    </div>
</div>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>