
    Con mèo 
    {{selectedTour}}
    <hr>



    <div *ngFor="let t of tour_dt" >
       <div *ngIf="check(t.ma_tour)">
            <div class="container chitiettour-first">
                <div class="row">
                    <div class="col-md-6 col-12 group-left">
                        <div class="warp-mark">
                            <i class="bi bi-ticket-perforated"></i><label> {{t.ma_tour}}</label>
                        </div>
                        <h1 class="title">{{t.ten_tour}} </h1>
                        <div class="short-rating d-inline-flex ">
                            <div class="s-rate">
                                <div class="rating"><i class="bi bi-chat-heart-fill"></i><label>100</label></div>
                            </div>
                            <button class="tour-item__footer__add-to-compare d-inline-flex align-items-center addcomparegrid">
                                <a href="" class="link-danger"><i class="bi bi-plus-circle-fill"></i> Thêm
                                    vào
                                    yêu thích
                                </a>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 group-right d-flex">
                        <div class="group-price">
                            <div class="sale-price">
                                <p><span class="text-danger price">{{t.giatiennguoilon | number}}₫</span>/ khách</p>
                            </div>
                            <div class="saving">
                            </div>
                        </div>
                        <div class="group-add-cart">
                            <button class="btn btn-danger  btn-book">
                                <i class="bi bi-cart-plus-fill"></i>
                                Đặt
                                ngay
                            </button>
                            <button class="btn btn-block border border-secondary">
            
                                Liên hệ tư vấn
            
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container chitiettour-body">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 left">
                        <div class="image">
                            <img src="https://media.travel.com.vn/tour/tfd_220218051037_565317.jpg" class="img-fluid" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 right">
                        <div class="row gy-4">
                            <div class="col-md-12 col-sm-12 small">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="image">
                                            <img src="https://media.travel.com.vn/tour/tfd_220218051139_477288.jpg"
                                                class="img-fluid" alt="image">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="image">
                                            <img src="https://media.travel.com.vn/tour/tfd_220218051320_352546.jpg"
                                                class="img-fluid" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 big">
                                <div class="image">
                                    <img src="https://media.travel.com.vn/tour/tfd_220218051522_794906.jpg" class="img-fluid"
                                        alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="motatour--content">Tọa lạc tại Bãi Khem, phía Nam đảo ngọc Phú Quốc, một bãi biển tuyệt đẹp với
                        cát trắng mịn như kem và nước trong màu ngọc bích, cách sân bay quốc tế Phú Quốc chỉ 15 phút lái xe, JW
                        Marriott Phú Quốc Emerald Bay không chỉ là một kiệt tác nghỉ dưỡng đẳng cấp 5 sao độc đáo và tinh tế mà
                        còn là một câu chuyện huyền thoại về Lamarck Universitys - một trường đại học danh tiếng hàng đầu Việt
                        Nam tại thị trấn thương mại Bãi Kem những năm đầu thế kỷ 20. Khu nghỉ dưỡng với 244 phòng, suite, căn hộ
                        và villas là sự kết hợp tuyệt diệu của cả hai thế giới: tri thức và nghỉ dưỡng. Khu nghỉ dưỡng có kiến
                        trúc Pháp điển hình và những gam màu nổi bật tôn vinh từng đường nét tinh tế. Những phòng nghỉ tiện nghi
                        thoải mái nhất, ẩm thực ngon nhất, dịch vụ thân thiện kết hợp với môi trường nghỉ dưỡng có một không hai
                        được đặt trong một ngôi trường thuần túy với phấn trắng bảng đen, dụng cụ giảng dạy, bộ sưu tập cúp
                        chiến thắng mà các đội thể thao đã mang về được giữ nguyên, trở thành những vật dụng trang trí vô cùng
                        độc đáo. Với 18 khoa của trường đại học khoa học tự nhiên Lamarck University, Quý du khách có những trải
                        nghiệm hoàn toàn khác biệt trong cùng Khu nghỉ dưỡng. Sự thú vị mà JW Marriott Phú Quốc Emerald Bay đem
                        đến cho du khách là những tháng ngày nghỉ dưỡng trong vai trò một sinh viên đại học, ở một ngôi trường
                        nghỉ dưỡng có một không hai. Một ngày là hoàn toàn không đủ với JW Marriott Phú Quốc Emerald Bay, khi mà
                        khu nghỉ dưỡng biến từng phút từng giây của du khách ở nơi đây trở thành những phút giây trải nghiệm vô
                        cùng đáng giá. Bởi mỗi chi tiết, dù là nhỏ nhất trong khuôn viên khu nghỉ dưỡng đều ẩn chứa trong nó một
                        câu chuyện thú vị khiến cho “học viên” thỏa sức khám phá.</div>
                    <div class="overviewtour--content row">
                        <div class="box-order col-md-6 col-12 ">
                            <p>Ngày khởi hành: <b>18/01/2022</b></p>
                            <p>Thời gian: <b>3 ngày 2 đêm</b></p>
                            <p>Nơi khởi hành: <b> TP. Hồ Chí Minh</b></p>
                            <p> Phương tiện di chuyển: <b> Máy bay, Xe khách</b></p>
                            <p>Số chỗ còn nhận: <b>13</b></p>
                        </div>
                        <div class="box-diemthamquan col-md-3 col-12 ">
                            <h4>Các điểm tham quan</h4>
                            <p>Trải nghiệm dịch vụ và tham gia các hoạt động tại JW Marriott Phú Quốc Emerald Bay Hòn Mây Rút
                                Ngoài - đi bộ dưới đáy biển, lặn biển, INK 360.</p>
                        </div>
                        <div class="col-md-3 col-12">
                            <h4>Khách sạn</h4>
                            <p>Thường</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row--lichtrinh container">
                <h3 class="text-center">Lịch trình</h3>
                <hr>
                <div class="row--lichtrinh__item">
                    <h3>Ngày 1 - TP.HỒ CHÍ MINH - PHÚ QUỐC (Ăn trưa, tối) </h3>Quý khách tập trung đến điểm hẹn tại Sân Bay, hướng
                    dẫn viên Vietravel đón và giúp Quý khách làm thủ tục. Quý khách có thể sử dụng dịch vụ phòng chờ Thương Gia tại
                    sân bay trong thời gian chờ lên máy bay. Sau khi đáp máy bay đến Phú Quốc xe đón đoàn đến Sunset Sanato dùng bữa
                    trưa buffet BBQ hải sản. <br> Sau khi dùng bữa trưa xe đón đoàn khởi hành về JW Marriott Phú Quốc Emerald Bay -
                    làm thủ tục nhận phòng và nghỉ ngơi thư giãn tại resort - hạng phòng Deluxe Emerald hướng vịnh ấm cúng và sang
                    trọng, sảng khoái cho du khách. Quý khách có thể tùy nghi tận hưởng và trải nghiệm các dịch vụ và tiện nghi tại
                    khu resort đẳng cấp và sang trọng như: <br>-Thả mình trong 3 hồ bơi Sun Sand Shell độc đáo <br>- Thư giãn tại
                    biển Bãi Khem cát trắng đẹp nhất đảo ngọc <br>- Tản bộ trên con đường Rue de Lamarck mô phỏng phố cổ Hội An,
                    tham quan cửa hàng thủ công tinh xảo <br>- Trải nghiệm ẩm thực và khám phá vẻ đẹp phá cách của các nhà hàng Pink
                    Pearl, French &amp; Co, RedRum hay Department of Chemistry Bar. <br>- Tham gia các hoạt động trải nghiệm theo
                    lịch của resort. <br> <br> Chiều tối, Quý khách dùng bữa tối tại nhà hàng Pink Pearl gợi cho du khách nhớ đến
                    những bữa tối sang trọng, những buổi tiệc tưng bừng mang phong cách Gatsby của những năm 1920, đồng thời thể
                    hiện tinh thần nồng hậu, hiếu khách, hào phóng và đẳng cấp của Madam Pearl. Ngôi biệt thự này sẽ là nơi cho ra
                    đời, phục vụ những món ăn mang đậm phong cách ẩm thực Pháp tinh tế, sang trọng và được truyền cảm hứng từ đầu
                    bếp trứ danh Amine Lakhdari - người đã từng cộng tác làm nên đẳng cấp của nhiều nhà hàng hạng sao Michelin tại
                    Pháp. <br> Sau đó Quý khách thư giãn tại Chemistry Bar nhâm nhi cocktail với các món thức uống đặc trưng. Hoặc
                    thư giãn tại Spa (chi phí tự túc). <br>Quý khách nghỉ ngơi và thư giãn tại resort.<h3> Ngày 2 - PHÚ QUỐC - TRẢI
                        NGHIỆM MỚI LẠ ĐI BỘ DƯỚI ĐÁY BIỂN - NGẮM HOÀNG HÔN TẠI INK360 BAR (Ăn sáng, trưa, tối) </h3> Sau bữa sáng
                    tại nhà hàng Tempus Fugis trong resort chính là Khoa Kiến Trúc cũ của ngôi trường. Không chỉ được khoác lên một
                    lớp áo ấn tượng với những gam màu lam trắng nổi bật, nhà hàng Tempus Fugis còn gây hấp dẫn bởi vị trí trên bãi
                    biển lộng gió, nơi có phòng tưởng niệm Architectural Hall of Fame vẫn còn lưu những cái tên được vinh danh trong
                    lĩnh vực kiến trúc. Tại đây, du khách có thể thưởng thức những món ăn của cả ba nền ẩm thực đặc sắc Pháp, Nhật,
                    Trung Hoa. Nhà hàng phục vụ cả ngày với sức chứa lên đến 350 người.<br>Quý khách có thể tham gia các hoạt động
                    tại resort theo lịch. Hoặc đơn giản là thả hồn bên bãi biển trắng tuyệt đẹp. Quý khách dùng bữa trưa tại nhà
                    hàng của Resort tại nhà hàng Red Rum - Trong khi Tempus Fugis và Pink Pearl mang đến sự đặc sắc đến từ những nền
                    văn hóa ẩm thực khác nhau thì nhà hàng Red Rum resort JW Marriott Phú Quốc lại tạo ra một sức hút hoàn toàn khác
                    biệt với gian bếp mở ngoài trời - vốn là xu hướng hiện đại chỉ xuất hiện trong những nhà hàng cao cấp. Du khách
                    sẽ không chỉ được thưởng thức món ăn bằng vị giác và khứu giác mà còn bằng thị giác khi theo dõi suốt toàn bộ
                    quá trình người đầu bếp chế biến nguyên liệu. Ở đây, du khách sẽ được phục vụ những món hải sản tươi sống của
                    biển Phú Quốc như tôm hùm Phú Quốc, ghẹ Hàm Ninh, nhum nướng mỡ hành,... được ăn burger, pizza và tiệc BBQ với
                    38 chỗ ngồi sát bờ biển. Red Rum cũng là một quầy bar trên biển với những ly rượu làm say lòng người. <br> 13:00
                    hướng dẫn viên và xe sẽ đón và đưa Quý khách đi đưa đoàn ra cảng An Thới đi cano tham quan những hòn đảo phía
                    Nam thuộc quần đảo An Thới với vẻ đẹp hoang sơ, cát trắng, biển xanh, nhiều ghềnh đá đẹp. <br> - Hòn Mây Rút
                    Ngoài: khám phá công viên bảo tồn san hô đầu tiên và duy nhất tại Phú Quốc, trải nghiệm mới lạ với bộ môn thể
                    thao đi bộ dưới đáy biển (du khách không cần biết bơi cũng có thể tham gia). Đầu tiên, du khách sẽ được đội ngũ
                    huấn luyện viên (có chứng chỉ hành nghề bởi Hiệp hội hướng dẫn viên lặn biển chuyên nghiệp PADI) giới thiệu và
                    hướng dẫn các cách thức lặn biển an toàn (thời gian 10 phút). Sau khi đội chiếc mũ theo phong cách phi hành gia,
                    mỗi khách sẽ được một huấn luyện viên theo kèm và dẫn dắt đến với đáy đại dương (thời gian 20 phút). Du khách
                    dạo bước trên thảm cát trắng mịn, hai bên lối đi là những rạn san hô theo dòng hải lưu đong đưa thú vị và mở ra
                    một khung cảnh tuyệt vời trước mắt với vẻ đẹp muôn màu của hơn 200 loài san hô cùng nhiều loài cá màu sắc sặc sỡ
                    đang tự nhiên bơi lội. <br> - Trải nghiệm lặn biển (có bình khí): Đến vị trí rạn san hô nhiều màu sắc với những
                    đàn cá tung tăng bơi lội. Tại đây quý khách sẽ được cung cấp đầy đủ các trang thiết bị như bình dưỡng khí, áo
                    lặn, kính lặn, chân vịt,…<br> Các huấn luyện viên sẽ hướng dẫn cho Quý khách cách sử dụng bình hơi và những kỹ
                    năng lặn biển. Mỗi quý khách sẽ được một HDV lặn chuyên nghiệp có bằng cấp quốc tế hướng dẫn lặn, Quý khách tự
                    do khám phá những vẻ đẹp muôn màu trong lòng đại dương. <br> Cano quay về cảng An Thới đưa Quý khách về lại
                    Resort thay trang phục. Xe đón và đưa Quý khách đến INK 360 - bar tầng thượng cao nhất tại Phú Quốc, nằm trong
                    khu nghỉ dưỡng InterContinental Phu Quoc Long Beach. Thiết kế của quán bar lấy cảm hứng từ bạch tuộc “Kraken”
                    khổng lồ. Đây là sáng tạo của kiến trúc sư Australia, Ashey Sutton, cha đẻ của nhiều quán bar “độc nhất vô nhị”
                    tại châu Á. Các chi tiết trang trí tại đây, từ thảm lót sàn, tay nắm cửa đến bàn ghế, đều mang hình dáng của
                    những xúc tu nhỏ hay những “chú bạch tuộc mini” Những chiếc xúc tu cực lớn đan xem vào nhau và lan tỏa ra mọi
                    hướng khiến không gian nơi đây nên trở bí ẩn. Trên nền kim loại tối màu làm nên “quyền lực của Kraken” là sự kết
                    hợp giữa xà cừ và đá cẩm thạch trắng, mang đến cảm giác sâu rộng của đại dương. INK 360 còn là địa điểm lý tưởng
                    để ngắm hoàng hôn của Bãi Trường. Là quán bar tầng thượng cao nhất tại Phú Quốc, nơi đây còn mang đến tầm nhìn
                    toàn cảnh biển trời bao la của đảo Ngọc. <br> Quý khách dùng bữa tối tại nhà hàng Sea Shack - chỉ cách biển vài
                    bước chân, nhà hàng Sea Shack với thiết kế không gian mộc mạc nhưng độc đáo, đem đến cho thực khách một trải
                    nghiệm ẩm thực vừa sang trọng vừa bình dị trong làn gió biển. Tại đây, Quý khách có thể thưởng thức ẩm thực Việt
                    hoặc quốc tế, hay những món thịt nướng ngon tuyệt do các đầu bếp đa tài của chúng tôi chế biến. Nhà hàng và quầy
                    bar phục vụ nhiều loại bia khác nhau, ngoài ra phải kể đến cocktail Tiki, loại thức uống hoàn hảo để vừa nhâm
                    nhi vừa cảm nhận cát mịn luồn qua chân. Quý khách sẽ dùng menu 3 món (chi phí nước uống tự túc).<br> Sau bữa
                    tối, Quý khách về lại phòng nghỉ ngơi. <br> * Tùy thuộc theo điều kiện thời tiết và mùa gió, Quý khách có thể
                    trải nghiệm lặn ngắm san hô ở các hòn đảo, khu vực khác nhau <br> *Những người không phù hợp tham gia: người có
                    sức khỏe yếu, người có các bệnh lý về tim mạch, huyết áp, viêm tai giữa và phụ nữ có thai, người mắc bệnh tiểu
                    đường tuýp 2 và hen suyễn. Khách từ 6 tuổi - 70 tuổi có sức khỏe tốt phù hợp tham gia chương trình này. Vui lòng
                    thông báo để nhân viên hoàn chi phí này. <h3>Ngày 3 - PHÚ QUỐC - TP.HỒ CHÍ MINH (Ăn sáng)</h3> Quý khách tùy
                    nghi sử dụng tiện nghi tại resort và nghỉ ngơi cho đến giờ trả phòng. Xe đón và đưa đoàn ra sân bay làm thủ tục.
                    Quý khách có thể sử dụng dịch vụ phòng chờ Thương Gia tại sân bay trong thời gian chờ lên máy bay. Chia tay Quý
                    khách và kết thúc chương trình tại sân bay Tân Sơn Nhất - Kết thúc chuyến nghỉ dưỡng và tham quan đầy thú
                    vị.<br>Lưu ý: <br> ✓ Đảm bảo nguyên tắc 5K, khử khuẩn. <br>✓ Vận chuyển không quá 50% số ghế, không quá 20
                    khách/1 xe (bao gồm cả tài xế), tuân thủ ngồi giãn cách trên xe và đeo khẩu trang suốt quá trình di chuyển.
                    <br>✓ Thẻ xanh covid (khách đã tiêm vaccine ngừa covid đủ liều, thời gian hoàn tất mũi 2 trước 14 ngày và không
                    quá 12 tháng), khách là F0 đã khỏi bệnh (có giấy chứng nhận của Sở Y Tế và không quá 06 tháng). <br> ✓ Xét
                    nghiệm covid theo yêu cầu của từng tỉnh vào thời điểm đặt dịch vụ. Vui lòng liên hệ với nhân viên tư vấn để biết
                    thêm chi tiết.
                </div>
            </div>
       </div>
    </div>

