<div class="container">
    <div class="justify-content-center">
        <div  class="carousel slide" id="carouselExampleIndicators"  data-ride="carousel">
            <!-- <ul class="carousel-indicators">
                <li data-bs-slide-to="0" class="active"></li>
                <li data-bs-slide-to="1"></li>
                <li data-bs-slide-to="2"></li>
              </ul>
             -->
             <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner" style="border-radius: 15px;">
                <div class="carousel-item active">
                    <img src="../assets/images/banner/banner5.jpg" width="100%" height="280" style="border-radius: 15px;" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../assets/images/banner/banner4.jpg" width="100%" height="280"  style="border-radius: 15px;" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../assets/images/banner/banner3.jpg" width="100%" height="280"  style="border-radius: 15px;" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="bg-trongnuoc" >
        <p class="font">Tour Trong Nước</p>
    </div>

    <div class="bg-ngoainuoc" >
        <p class="font">Tour Trong Nước</p>
    </div>
</div>