<div class="container" style="width: 80%">
    <!-- container: fixed
    container-fluid: full màn hình -->
    <div class="text-center p-2 mt-3 mb-3 title-tourdulich">
        <h4 class="font-weight-bold">DU LỊCH MIỀN BẮC</h4>
    </div>
    <div class="row">
        <div class="col-10"></div>
        <div class="sapxep-select col-2 ">
            <select name="Sắp xếp" class="form-select mb-3 ">
                <option value="sapxep">--Sắp xếp theo--</option>
                <option value="thap-cao">Theo giá thấp đến cao</option>
                <option value="thap-cao">Theo giá cao đến thấp</option>
                <option value="thap-cao">Giảm giá nhiều nhất</option>
            </select>
        </div>
    </div>
    <div class="row m-30">
        <div class="col-lg-3 sticky-lg-top col-md-12 ">
           <form [formGroup]="condiForm"  (ngSubmit)="onSubmit(condiForm)">
            <div class="locsanpham-select p-sticky">
                <h4 class="text-center p-2">LỌC KẾT QUẢ</h4>
                <div>
                    <select name="quocgia" id="quocgia" class="form-select select-item" formControlName="quocgia">
                        <option value="all">--Chọn quốc gia--</option>
                        <option value="Tour du lịch trong nước">Tour trong nước</option>
                        <option value="Tour du lịch nước ngoài">Tour ngoài nước</option>
                    </select>
                </div>
                <div>
                    <select name="khuvuc" id="khuvuc" class="form-select select-item" formControlName="khuvuc">
                        <option value="all">--Chọn khu vực--</option>
                        <option value="Tour trong nước">Tour trong nước</option>
                        <option value="Tour ngoài nước">Tour ngoài nước</option>
                    </select>
                </div>

                <!-- <div>
                    <select name="loaihinhtour" id="loaihinhtour" class="form-select select-item">
                        <option value="trongnuoc">--Loại hình tour--</option>
                        <option value="trongnuoc">Tour trọn gói</option>
                        <option value="trongnuoc">Tour gia đình</option>
                    </select>
                </div> -->
                <div>
                    <select name="noikhoihanh" id="diemdi" class="form-select select-item" formControlName="noikhoihanh">
                        <option value="all">--Nơi Khởi Hành--</option>
                        <option value="Hà Nội">Hà Nội</option>
                        <option value="TP. Hồ Chí Minh">TP. Hồ Chí Minh</option>
                    </select>
                </div>
                <div>
                    <select name="diemden" id="diemden" class="form-select select-item" formControlName="diemden">
                        <option value="all">--Điểm đến--</option>
                        <option value="Pháp">Pháp</option>
                        <option value="Thụy Sĩ">Thụy Sĩ</option>
                        <option value="Nhật Bản">Nhật Bản</option>
                        <option value="Trung Quốc">Trung Quốc</option>
                        <option value="Canada">Canada</option>
                        <option value="Mỹ">Mỹ</option>
                    </select>
                </div>
                <div>
                    <select name="thoigian" id="songaytour" class="form-select select-item" formControlName="thoigian">
                        <option value="all">--Số ngày tour--</option>
                        <option value="4-7 ngày">4-7 ngày</option>
                        <option value="8-14 ngày">8-14 ngày</option>
                        <option value="Trên 14 ngày">Trên 14 ngày</option>
                    </select>
                </div>
            </div>
            <input type="submit" value="Tìm kiếm" class="form-btn btn btn-primary">
            <p>{{condiForm.value|json}}</p>
           </form>
        </div>
        <div class="col-lg-9 col-md-12 text-center">
            <div class="category">
                    <div class="card m-2 card-tour"
                        *ngFor="let datatour of tour" (click)="onSelect(datatour)">
                        <div class="card-img-top">
                            <img class="img-thumnail" style="height: 100%; width: 100%;" src="{{datatour.images[0]}}"
                            alt="error">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title m-2">{{datatour.ten_tour}}</h5>
                            <p class="tour-item__code"> Mã Tour: {{ datatour.ma_tour }}</p>
                            <p class="tour-item__departure">Nơi khởi hành:
                                <span> {{ datatour.noikhoihanh }} </span>
                            </p>
                            <div class="tour-item__price--current__number">Giá
                                <span id="tour-item__price--current__number">{{ datatour.giatiennguoilon | number }}đ</span>/Khách
                            </div>
                            <div class="tour-item__price--current">
                                <button class="btn btn-danger  btn-book">
                                    <i class="bi bi-cart-plus-fill"></i>
                                    Đặt
                                    ngay
                                </button>
                                <button class="btn btn-block border border-secondary">

                                    Xem chi tiết

                                </button>
                            </div>
                            <button
                                class="tour-item__footer__add-to-compare d-inline-flex align-items-center addcomparegrid">
                                <a href="" class="link-danger"><i class="bi bi-plus-circle-fill"></i> Thêm
                                    vào
                                    yêu thích
                                </a>
                            </button>
                        </div>
                    </div>

            </div>

        </div>
    </div>
</div>