<div class="container-fluid">
    <div class="tintuc-content">
        <div class="row">
            <span class="badge">TIN TỨC DU LỊCH</span>
        </div>
    </div>
    <div class="col-xl my-3">
        <div class="row">
            <div class="col-sm-7">
                <img class="tintuc-left-img m-4" src="../assets/images/IMAGE/SanPham/TrongNuoc/MienNam/PhuQuoc/PhuQuoc1.jpg" alt="Error" style="z-index: 1;">
                <a class="tintuc-font-big-header m-4">Big Header</a>
            </div>
            <div class="col-sm-5">
                <div>
                    <img class="tintuc-right-img mt-4 " src="../assets/images/IMAGE/SanPham/TrongNuoc/MienNam/VungTau/VungTau2.jpg">
                    <a>Vung Tau</a>
                </div>
                <div>
                    <img class="tintuc-right-img mt-4" src="../assets/images/IMAGE/SanPham/TrongNuoc/MienNam/VungTau/VungTau2.jpg">
                    <a>Vung Tau</a>
                </div>
                <div>
                    <img class="tintuc-right-img mt-4" src="../assets/images/IMAGE/SanPham/TrongNuoc/MienNam/VungTau/VungTau2.jpg">
                    <a>Vung Tau</a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-xl my-3">
        <p>efwergw</p>
    </div>
</div>