<div class="container-fluid">
    <div class="tintuc-content">
        <div class="row">
            <span class="badge">TIN TỨC DU LỊCH</span>
        </div>
    </div>
    <div class="col-xl my-3">
        <div class="row">
            <div class="col-sm-7">
                <a><img class="img-fluid rounded-3 m-4" src="../assets/images/IMAGE/SanPham/TrongNuoc/MienNam/PhuQuoc/PhuQuoc1.jpg" alt="Error" style="z-index: 1;"></a>
                <div>
                    <div class="mx-4">
                        <a class="tintuc-font-big-header">BÍ KÍP DU LỊCH PHÚ QUỐC NHỮNG NGÀY CUỐI NĂM</a>
                    </div>
                    <div>
                        <span class="tintuc-style-day-written m-4">10/10/2022</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="d-sm-flex">
                    <div>
                        <a><img class="tintuc-right-img mt-4" src="../assets/images/IMAGE/SanPham/TrongNuoc/MienNam/VungTau/VungTau2.jpg"></a>
                    </div>
                    <div class="mt-4 px-2">
                        <a class="tintuc-font-medium-header">DU LỊCH VŨNG TÀU VÀ NHỮNG ĐIỀU CẦN BIẾT</a>
                        <div class="tintuc-style-day-written">10/10/2022</div>
                    </div>
                </div>
                <div class="d-sm-flex">
                    <div>
                        <a><img class="tintuc-right-img mt-4" src="../assets/images/IMAGE/SanPham/TrongNuoc/MienNam/VungTau/VungTau2.jpg"></a>
                    </div>
                    <div class="mt-4 px-2">
                        <a class="tintuc-font-medium-header">DU LỊCH VŨNG TÀU VÀ NHỮNG ĐIỀU CẦN BIẾT</a>
                        <div class="tintuc-style-day-written">10/10/2022</div>
                    </div>

                </div>
                <div class="d-sm-flex">
                    <div>
                        <a><img class="tintuc-right-img mt-4" src="../assets/images/IMAGE/SanPham/TrongNuoc/MienNam/VungTau/VungTau2.jpg"></a>
                    </div>
                    <div class="mt-4 px-2">
                        <a class="tintuc-font-medium-header">DU LỊCH VŨNG TÀU VÀ NHỮNG ĐIỀU CẦN BIẾT</a>
                        <div class="tintuc-style-day-written">10/10/2022</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-xl my-4">
        <div class="d-xl-flex">
            <div>
                <a>
                    <img class=" tintuc-bottom-img rounded-3 m-4" src="../assets/images/IMAGE/Tintuc/NoiDung/TraiNghiemNuocNgoai/NN1.png">
                </a>
            </div>
            <div class="m-4">
                <div class="">
                    <a class="tintuc-font-big-header">BÍ KÍP DU LỊCH PHÚ QUỐC NHỮNG NGÀY CUỐI NĂM</a>
                </div>
                <div>
                    <p>Sau một thời gian dài “đóng băng” do dịch Covid-19, thị trường du lịch nước ngoài đã có những tín hiệu khởi sắc trở lại, và đang dần thích ứng trong bối cảnh bình thường mới. Nhiều người kỳ vọng, việc Chính phủ chuẩn bị mở cửa du lịch
                        quốc tế từ 15/3/2022 sẽ là “đòn bẩy” để du lịch Việt Nam tăng tốc, giúp các doanh nghiệp lữ hành phục hồi nhanh chóng, đáp ứng nhu cầu đi du lịch nước ngoài của du khách.</p>
                </div>
            </div>
        </div>
    </div>
</div>