<div class="container-fluid">{{errMessage}}
    <div class="tintuc-content">
        <div class="row">
            <span class="badge">TIN TỨC DU LỊCH</span>
        </div>
        <!-- <div class="tintuc-main-box">
            <div class="tintuc-main-box__left" *ngFor="let t of tintuc;first as isFirst">
                <div *ngIf="isFirst">
                    <a><img class="tintuc-left-img" src="{{t.main_img}}" alt="Error" style="z-index: 1;"></a>
                    <div>
                        <div style="margin-top: 10px;" class="tintuc-main-box-left__contentanday">
                            <a class="tintuc-font-big-header"></a>
                        </div>
                        <div class="tintuc-main-box-left__contentanday">
                            <span class="tintuc-style-day-written"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tintuc-main-box__right">
                <div class="tintuc-main-box-right__item">
                    <div>
                        <a><img class="tintuc-right-img" src="../assets/images/IMAGE/SanPham/TrongNuoc/MienNam/VungTau/VungTau2.jpg"></a>
                    </div>
                    <div style="margin-left:20px;">
                        <a class="tintuc-font-medium-header">DU LỊCH VŨNG TÀU VÀ NHỮNG ĐIỀU CẦN BIẾT</a>
                        <div class="tintuc-style-day-written">10/10/2022</div>
                    </div>
                </div>
                <div class="tintuc-main-box-right__item">
                    <div>
                        <a><img class="tintuc-right-img" src="../assets/images/IMAGE/SanPham/TrongNuoc/MienNam/VungTau/VungTau2.jpg"></a>
                    </div>
                    <div style="margin-left: 20px;">
                        <a class="tintuc-font-medium-header">DU LỊCH VŨNG TÀU VÀ NHỮNG ĐIỀU CẦN BIẾT</a>
                        <div class="tintuc-style-day-written">10/10/2022</div>
                    </div>

                </div>
                <div class="tintuc-main-box-right__item">
                    <div>
                        <a><img class="tintuc-right-img" src="../assets/images/IMAGE/SanPham/TrongNuoc/MienNam/VungTau/VungTau2.jpg"></a>
                    </div>
                    <div style="margin-left: 20px;">
                        <a class="tintuc-font-medium-header">DU LỊCH VŨNG TÀU VÀ NHỮNG ĐIỀU CẦN BIẾT</a>
                        <div class="tintuc-style-day-written">10/10/2022</div>
                    </div>
                </div>
            </div>

        </div> -->
        <div class="tintuc-box {{isSelected(t)? 'selected':''}}" *ngFor="let t of tintuc" (click)="onSelect(t)">
            <div class="tintuc-box-item__left">
                <div>
                    <a routerLink="/noidungtintuc/{{t.tintuc_id}}" routerLinkActive="active">
                        <img class="tintuc-bottom-img" src="{{t.main_img}}">
                    </a>
                </div>
            </div>
            <div class="tintuc-box-item__right">
                <div>
                    <a routerLink="/noidungtintuc/{{t.tintuc_id}}" routerLinkActive="active" class="tintuc-font-big-header">{{t.header}}</a>
                    <p>{{t.news_intro}}</p>
                </div>
            </div>
        </div>
    </div>
</div>